.content-title {
    font-size: 25px;
}
.content-subtitle {
    font-size: 20px;
}
.subtitle-head3 {
    font-size: 17px;
    margin-bottom: 7px;
}

.paragraph-text {
    margin-bottom: 15px;
    font-size: 16px;
}
.map-frame {
    width: 100%;
}